<a href="https://colab.research.google.com/github/leeseungi/220603/blob/main/basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("안녕, 파이썬!")

안녕, 파이썬!

문자가 들어가는 것은 무조건 "" 또는 ''이 들어가야 한다.

In [2]:
print(5+5)

10

숫자가 들어가는

In [3]:
print("3개의 정수값을 입력하시오.")
int1 = int(input("첫번째 값을 입력하시오.: "))
int2 = int(input("두번재 값을 입력하시오.: "))
int3 = int(input("세번째 값을 입력하시오.: "))
print(int1, int2, int3)
sum = int1 + int2 + int3
print(sum)

3개의 정수값을 입력하시오.
첫번째 값을 입력하시오.: 1
두번재 값을 입력하시오.: 2
세번째 값을 입력하시오.: 3
1 2 3
6

In [12]:
total = 0
counter = 1
while counter <= 5:
  grade = int(input(" 정수를 입력하시오.: "))
  total = grade + total
  counter = counter + 1
aver = total / 15
print(aver)

 정수를 입력하시오.: 10
 정수를 입력하시오.: 20
 정수를 입력하시오.: 30
 정수를 입력하시오.: 40
 정수를 입력하시오.: 50
15.0

In [13]:
pay_rate = int(input(" 시급을 입력하시오. 2022년 6월 기준 9160원:"))
hour_work = int(input("일한 시간을 입력하시오.: "))
mon_pay = pay_rate * hour_work
print(mon_pay)

 시급을 입력하시오. 2022년 6월 기준 9160원:9160
일한 시간을 입력하시오.: 72
659520